@{
    ViewData["Title"] = "Notifications Page";
}

<div class="text-center">
    <h1 class="display-4">Notifications Testing</h1>
</div>

@section Scripts
{
    <script src="~/js/jquery.toast.js"></script>
}
